{% extends "digital_safari/base.html" %}
{% block title %}Routes{% endblock %}
{% block content %}
{% include "digital_safari/header.html" %}
<div class="preload w3-card">
  <img src="/static/customer/images/loader.gif" class="img-fluid" alt="loader">
  <h2>Searching for your routes... please wait</h2>
</div>

<div class="available_content">


  <!-- Sidebar -->
  <div class="w3-sidebar w3-white w3-bar-block" style="width:20%">
    <br><br><br>
    <h3 class="w3-bar-item">Filter by <i class="fa fa-filter"></i></h3>
    <div class="dropdown-divider"></div>
    <h4 class="w3-bar-item">Fare</h4>
    <a href="#" class="w3-bar-item w3-button">Tshs. 7,000 - 19,000</a>
    <a href="#" class="w3-bar-item w3-button">Tshs. 20,000 - 30,000</a>
    <a href="#" class="w3-bar-item w3-button">Tshs. 31,000 - 40,000</a>
    <a href="#" class="w3-bar-item w3-button">Tshs. 41,000 - 50,000</a>
    <a href="#" class="w3-bar-item w3-button">Tshs. 51,000 - 100,000</a>
    <div class="dropdown-divider"></div>
    <h4 class="w3-bar-item">Class</h4>
    <a href="#" class="w3-bar-item w3-button">Luxury</a>
    <a href="#" class="w3-bar-item w3-button">Semi-Luxury</a>
    <a href="#" class="w3-bar-item w3-button">Ordinary</a>
    <div class="dropdown-divider"></div>
    <h4 class="w3-bar-item">Type</h4>
    <a href="#" class="w3-bar-item w3-button">Youtong</a>
    <a href="#" class="w3-bar-item w3-button">Zhong-Tong</a>
    <a href="#" class="w3-bar-item w3-button">Golden Dragon</a>
    <a href="#" class="w3-bar-item w3-button">Scania</a>
    <div class="dropdown-divider"></div>
    <h4 class="w3-bar-item">Amenities</h4>
    <a href="#" class="w3-bar-item w3-button">All</a>
    <a href="#" class="w3-bar-item w3-button">TV & Wi-fi & Soda</a>
    <a href="#" class="w3-bar-item w3-button">TV & Soda & Charging-system</a>
    <a href="#" class="w3-bar-item w3-button">TV & Charging-system & Soda</a>
    <a href="#" class="w3-bar-item w3-button">TV & Wi-fi</a>
    <a href="#" class="w3-bar-item w3-button">TV & Soda</a>
    <a href="#" class="w3-bar-item w3-button">TV & Charging-system</a>
    <a href="#" class="w3-bar-item w3-button">TV</a>
    <div class="dropdown-divider"></div>
    <h4 class="w3-bar-item">Departure Time</h4>
    <a href="#" class="w3-bar-item w3-button">Link 2</a>
    <a href="#" class="w3-bar-item w3-button">Link 3</a>
    <a href="#" class="w3-bar-item w3-button">Link 1</a>
    <a href="#" class="w3-bar-item w3-button">Link 2</a>
    <a href="#" class="w3-bar-item w3-button">Link 3</a>
  </div>

  <!-- Page Content -->
  <div style="margin-left:20%">
  <div class="w3-container">

    <div class="form_for_live_search_routes">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="route_form_available_bus">
              {% include "digital_safari/route_form.html" %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="search_form">
      <div class="container">
        <div class="col-md-6 offset-md-3">
          <form>
            <input type="text" name="q" value="{{request.GET.q}}" placeholder="enter your keyword" class="w3-input">
          </form>
        </div>
      </div>
    </div> -->

    <div class="total_route">
      <div class="container">
        <div class="row">
          <!-- <div class="col-md-3">
            <p><span>{{count_route}} Routes Found. </span></p>
          </div> -->
          <div class="col-md-12">
            <h1>{{count_route}} Routes Found From: <span>{{fr_point}}</span> To: <span>{{to_dest}} on: {{depart}}</span></h1>
          </div>
        </div>
      </div>
    </div>


    <div class="routes_container">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            {% for r in route %}
            <div class="route_contents w3-card-4">
              <div class="container">
                <div class="row">
                  <div class="col-md-2">
                    <p>Operator (Kampuni)</p>
                    <h5>{{r.plate_Number.company_name}}</h5>
                  </div>
                  <div class="col-md-2">
                    <p>From (Unapotoka)</p>
                    <h5>{{r.from_point}}</h5>
                  </div>
                  <div class="col-md-2">
                    <p>To (Unapokwenda)</p>
                    <h5>{{r.to_point}}</h5>
                  </div>
                  <div class="col-md-2">
                    <p>Date (Tarehe)</p>
                    <h5>{{r.departure_date}}</h5>
                  </div>
                  <div class="col-md-2">
                    <p>Time (Muda)</p>
                    <h5>{{r.time_of_travel}}</h5>
                  </div>
                  <div class="col-md-2">
                    <p>Fare (Nauli)</p>
                    <h5>Tshs.{{r.dail_fare}}/=</h5>
                  </div>
                </div>
                <div class="dropdown-divider"></div>
                <h1>Amenities</h1>
                 {% if r.amenity1 == 'Television' and r.amenity2 == 'Wi-fi' and r.amenity3 == 'Charging-service' and r.amenity4 == 'Drinks' %}
                   {% include "amenities/all_amenities.html" %}
                 {% elif r.amenity1 == 'Television' and r.amenity2 == 'Wi-fi' and r.amenity3 == 'Charging-service' %}
                   {% include "amenities/tv_charging_wifi.html" %}
                 {% elif r.amenity1 == 'Television' and r.amenity4 == 'Drinks' and r.amenity3 == 'Charging-service' %}
                   {% include "amenities/tv_charging_soda.html" %}
                 {% elif r.amenity1 == 'Television' and r.amenity3 == 'Charging-service' %}
                   {% include "amenities/tv_charging.html" %}
                 {% elif r.amenity1 == 'Television' and r.amenity2 == 'Wi-fi' %}
                   {% include "amenities/tv_wifi.html" %}
                 {% elif r.amenity1 == 'Television' and r.amenity4 == 'Drinks' %}
                   {% include "amenities/tv_soda.html" %}
                 {% elif r.amenity1 == 'Television' %}
                   {% include "amenities/tv.html" %}
                 {% elif r.amenity2 == 'Wi-fi' %}
                   {% include "amenities/wifi.html" %}
                 {% elif r.amenity4 == 'Drinks' %}
                   {% include "amenities/soda.html" %}
                 {% else %}
                   {% include "amenities/none_amenities.html" %}
                 {% endif %}
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

  </div>

  {% include "digital_safari/footer.html" %}
</div>


{% endblock %}
