<div class="footer_container">
  <div class="container">
    <div class="row">
     <div class="col-md-12">
       <div class="icon_footer">
         <center>
           <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>&nbsp&nbsp&nbsp&nbsp&nbsp
           <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>&nbsp&nbsp&nbsp&nbsp&nbsp
           <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>&nbsp&nbsp&nbsp&nbsp&nbsp
         </center>
       </div>
     </div>
    </div>
    <div class="row">
      <div class="col-md-12">

      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr>
        <p>Copyright &copy {{ date|date:'Y' }} DSafari. All Rights Reserved </p>
        <p></p>
      </div>
    </div>
  </div>
</div>
