{% extends "digital_safari/base.html" %}
{% block title %}Payment Options{% endblock %}
{% block content %}
{% include "digital_safari/header.html" %}
<div class="form_for_live_search_routes">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="route_form_available_bus">
          {% include "digital_safari/route_form.html" %}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="payment_option_container">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
          <div class="payment_company">
            <div class="passengers_details">
              <h2>Passenger(s) details</h2>
            </div>
            <div class="number_of_passengers">
              <!-- <h3>Passenger(s)</h3>
              <hr> -->
              {% for data in full_details_to_payment_page %}
              <div class="passenger_payment_layout w3-card-4">
                <table class="table table-sm table-bordered table-hover">
                  <tbody>
                    <tr>
                      <td>Full Name: </td>
                      <td>{{data.first_name}} {{data.last_name}}</td>
                    </tr>
                    <tr>
                      <td>Boarding Point: </td>
                      <td>{{data.boarding_point}}</td>
                    </tr>
                    <tr>
                      <td>Droping Point: </td>
                      <td>{{data.droping_point}}</td>
                    </tr>
                    <tr>
                      <td>Seat #:</td>
                      <td>{{data.seatnumber}}</td>
                    </tr>
                    <tr>
                      <td>Fare: </td>
                      <td>Tshs.{{data.nauli}}/=</td>
                    </tr>
                    <tr>
                      <!-- <td>Ticket Number: </td>
                      <td>{{full_details_to_payment_page.secrete_code}}</td> -->
                    </tr>
                  </tbody>
                </table>
              </div>
              {% endfor %}
            </div>
            <div class="payment_method_selection">
              <h1>Select payment method</h1>
            </div>
            <div class="payment_method_company">
              <div class="container">
                <div class="row">
                  <div class="col-md-3"></div>
                  <div class="col-md-3">
                    <a href="#">
                    <div class="tigopesa">
                      tigo pesa
                    </div>
                    </a>
                  </div>
                  <div class="col-md-3">
                    <a href="#">
                    <div class="vodacom">
                      m-pesa
                    </div>
                    </a>
                  </div>
                  <div class="col-md-3"></div>
                </div>
                <div class="row bank_row">
                  <div class="col-md-3"></div>
                  <div class="col-md-3">
                    <a href="#">
                    <div class="crdb_bank">
                      CRDB Bank
                    </div>
                    </a>
                  </div>
                  <div class="col-md-3">
                    <a href="#">
                    <div class="nmb_bank">
                      NMB Bank
                    </div>
                    </a>
                  </div>
                  <div class="col-md-3"></div>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="col-md-5">
        <div class="full_details_after_get_passenger_or_passnegers_info w3-card-4">
          <div class="bus_details_heading">
            <h2>bus details</h2>
          </div>
          <div class="table-responsive">
            <table class="table table-borderless">
              <tbody>
                <tr>
                  <td>Operator: </td>
                  <td>
                    {{bus_details_payment_page.operator}}
                  </td>
                </tr>
                <tr>
                  <td>Route: </td>
                  <td>
                    {{bus_details_payment_page.from_p}} <i class="fa fa-long-arrow-right" aria-hidden="true"></i> {{bus_details_payment_page.to_d}}
                  </td>
                </tr>
                <tr>
                  <td>Departure Date: </td>
                  <td>
                    {{bus_details_payment_page.date_of_t}}
                  </td>
                </tr>
                <tr>
                  <td>Time of Travel: </td>
                  <td>
                    {{bus_details_payment_page.time_of_t}}
                  </td>
                </tr>
                <tr>
                  <td>Arrival Time: </td>
                  <td>
                    {{bus_details_payment_page.arrivaltime}}
                  </td>
                </tr>
                <tr>
                  <td>Bus Type: </td>
                  <td>
                    {{bus_details_payment_page.bustype}}
                  </td>
                </tr>
                <tr>
                  <td>Bus Class: </td>
                  <td>
                    {{bus_details_payment_page.busclass}}
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="{% url 'generate_single_view' bus_details_payment_page.id %}" target="_blank" class="btn btn-sm btn_print_ticket">Print Ticket</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="important_note">
            <div class="important_note_heading">
              <h1>Important note</h1>
            </div>
            <ul class="list-group">
              <li class="list-group-item">1. Price listed does not include luggage price </li>
              <li class="list-group-item">2. Ensure information provided is correct </li>
              <li class="list-group-item">3. You will receive confirmation SMS/Email once your payment is confirmed </li>
              <li class="list-group-item">4. Any booking unpaid until expiration date will automatically be cancelled </li>
              <li class="list-group-item">5. Fares are not guaranteed until dsafari confirms your booking and payment is made in full </li>
              <li class="list-group-item">5. <strong>Disclaimer:</strong> Digital Safari may refuse carriage of you or your baggage if, in the exercise of our reasonable discretion, we determine either that the payment of your fare is fraudulent or the booking of your seat has been done fraudulently or unlawfully  </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  {% include "digital_safari/footer.html" %}
{% endblock %}
