<div class="">
  <form action="{% url 'availableRoutes' %}" method="post">
    {% csrf_token %}
    <div class="row no-gutters">
      <div class="col-md-3">
        <div class="form-group">
          <div class="inputWithIcon">
            <input type="text" id="spoint" name="startingpoint" value="{{startingpoint}}"placeholder="From(Orign)" class="form-control" list="region_from">
            <i class="fa fa-home"></i>
            <datalist id="region_from">
              <option value="Arusha">Arusha</option>
              <option value="Bukoba">Bukoba</option>
              <option value="Dar es salaam">Dar es salaam</option>
              <option value="Dodoma">Dodoma</option>
              <option value="Mbeya">Mbeya</option>
              <option value="Mwanza">Mwanza</option>
              <option value="Morogoro">Morogoro</option>
              <option value="Kahama">Kahama</option>
              <option value="Kigoma">Kigoma</option>
              <option value="Kilimanjaro">Kilimanjaro</option>
              <option value="Tabora">Tabora</option>
              <option value="Tanga">Tanga</option>
              <option value="Ruvuma">Ruvuma</option>
              <option value="Iringa">Iringa</option>
              <option value="Sumbawanga">Sumbawanga</option>
              <option value="Lindi">Lindi</option>
              <option value="Mtwara">Mtwara</option>
              <option value="Mombasa">Mombasa</option>
              <option value="Malindi">Malindi</option>
              <option value="Songea">Songea</option>
          </datalist>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <div class="inputWithIcon">
            <input type="text" id="fpoint" name="endpoint" value="{{endpoint}}"placeholder="To(Destination)" class="form-control" list="region_destination">
            <i class="fa fa-home"></i>
            <datalist id="region_destination">
              <option value="Arusha">Arusha</option>
              <option value="Bukoba">Bukoba</option>
              <option value="Dar es salaam">Dar es salaam</option>
              <option value="Dodoma">Dodoma</option>
              <option value="Mbeya">Mbeya</option>
              <option value="Mwanza">Mwanza</option>
              <option value="Morogoro">Morogoro</option>
              <option value="Kahama">Kahama</option>
              <option value="Kigoma">Kigoma</option>
              <option value="Kilimanjaro">Kilimanjaro</option>
              <option value="Tabora">Tabora</option>
              <option value="Tanga">Tanga</option>
              <option value="Ruvuma">Ruvuma</option>
              <option value="Iringa">Iringa</option>
              <option value="Sumbawanga">Sumbawanga</option>
              <option value="Lindi">Lindi</option>
              <option value="Mtwara">Mtwara</option>
              <option value="Mombasa">Mombasa</option>
              <option value="Malindi">Malindi</option>
              <option value="Songea">Songea</option>
          </datalist>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <div class="inputWithIcon">
            <input type="text" id="departure" value="{{departuredate}}" name="departuredate"placeholder="Departure date" class="form-control">
            <i class="fa fa-calendar"></i>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <div class="inputWithIcon">
            <input type="text" id="return" name="returndate"placeholder="Return date" class="form-control">
            <i class="fa fa-calendar"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="form-group">
          <center><button type="submit" name="serchButton" class="btn btn-sm btn_search_route">Search route</button></center>
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
  </form>
</div>
