{% extends "digital_safari/base.html" %}
{% block title %}Selected Seat{% endblock %}
{% block content %}
{% include "digital_safari/header.html" %}
<div class="form_for_live_search_routes">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="route_form_available_bus">
          {% include "digital_safari/route_form.html" %}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="seat_layout_container">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <div class="seat_container">
            <div class="container">
              <div class="row">
                <div class="col-md-3 col-sm-12">
                  {% include "dashboard/seat_status.html" %}
                </div>
                <div class="col-md-4 col-sm-12">
                  <div class="layout_of_seat">
                    <div class="seat_chart">
                      <h2>Seat layout for bus No: {{seat_layout_details.plate_Number}}</h2>
                    </div>
                    <div class="seats">
                      <!--<h2>Seat section</h2>-->
                      {% if seat_layout_details.plate_Number.plate_Number == 'T 994' %}
                        {% include "seats/seatT994.html" %}
                      {% elif seat_layout_details.plate_Number.plate_Number == 'T 995' %}
                        {% include "seats/seatT995.html" %}
                      {% elif seat_layout_details.plate_Number.plate_Number == 'T 996' %}
                        {% include "seats/seatT996.html" %}
                      {% elif seat_layout_details.plate_Number.plate_Number == 'T 997' %}
                        {% include "seats/seatT997.html" %}
                      {% else %}
                          <h2>No seats</h2>
                      {% endif %}
                    </div>
                  </div>
                </div>
                <div class="col-md-5 col-sm-12">
                  <div class="next_process_after_seat_selected">
                    <div class="bus_detail_seat_layout">
                      <h2>bus details</h2>
                    </div>
                    <div class="table-responsive">
                      <table class="table table-borderless">
                        <tbody>
                          <tr>
                            <td>Selected Seat(s): </td>
                            <td id="number-of-seats"></td>
                          </tr>
                          <tr>
                            <td>Fare: </td>
                            <td >Tshs. <span id="fare_part" style="display:none">{{seat_layout_details.dail_fare}}</span>/=</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <hr>
                    <div class="table-responsive">
                      <table class="table table-borderless">
                        <tbody>
                          <tr>
                            <td>Operator: </td>
                            <td>{{seat_layout_details.plate_Number.company_name}}</td>
                          </tr>
                          <tr>
                            <td>Plate Number: </td>
                            <td>{{seat_layout_details.plate_Number.plate_Number}}</td>
                          </tr>
                          <tr>
                            <td>Route: </td>
                            <td>{{seat_layout_details.from_point}} <i class="fa fa-long-arrow-right" aria-hidden="true"></i> {{seat_layout_details.to_point}}</td>
                          </tr>
                          <tr>
                            <td>Departure Time: </td>
                            <td>{{seat_layout_details.time_of_travel}}</td>
                          </tr>
                          <tr>
                            <td>Bus Type: </td>
                            <td>{{seat_layout_details.plate_Number.bus_Type}}</td>
                          </tr>
                          <tr>
                            <td>Bus Class: </td>
                            <td>{{seat_layout_details.plate_Number.bus_class}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <a href="#" class="btn btn-sm btn-block tooltip-test proceed_to_personal_info" style='display:none' id="proceed_button" title="Proceed to passenger details form" data-toggle="modal" data-target=".personal_details_form">Proceed</a>
                  </div>
                </div>
                <!--<div class="col-md-1"></div>-->
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<!-- Large modal  passenger details-->
<div class="modal fade personal_details_form" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <h1>Passenger Details</h1>
      <center><h4>Selected Seat(s): <span id="totalCountSeat"> 0 </span></h4><center>
        <p>Total Amount: Tshs. <strong><span id="modelFarePart">0</span>/=</strong></p>

    <!-- <div class='col-md-12'><button type='submit' name='button' class='btn btn-primary btnSubmit'>Proceed</button></div> -->
      <hr>
        <div class="container">

          <form method="post" action="{% url 'passengers_details' %}">
            {% csrf_token %}
            <div class="container-fluid">
              <div class="form_row" id="formDetails">

              </div>
              <div class="contact_details_for_payment">
                <div class="row">
                  <div class="col-md-3"></div>
                  <div class="col-md-6">
                    <p class="bg-success w3-text-white" style="padding:10px 20px;">These information will be used to send your ticket(s) details</p>
                  </div>
                  <div class="col-md-3"></div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <input type="hidden" name="amount_total" id="amount_total" value="" class="form-control" placeholder="total amount" required>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="text" name="phonenumber" value="" class="form-control" placeholder="Mobile Number" required>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="email" name="emailaddress" value="" class="form-control" placeholder="Email address" required>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="hidden" name="totalseats" id="totalseatsInputFields" value="" class="form-control" placeholder="Total Seats" required>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="hidden" name="secrete_code" id="secrete_code" value="" class="form-control" placeholder="Secrete Code" required>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="hidden" name="paymentstatus" value="not paid" class="form-control" placeholder="payment status" required>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="hidden" name="referencenumber" value="WHAI12G3T4K" class="form-control" placeholder="reference number" required>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="hidden" name="platenumber" value="{{seat_layout_details.plate_Number}}" class="form-control" placeholder="plate number" required>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="hidden" name="companyname" value="{{seat_layout_details.plate_Number.company_name}}" class="form-control" placeholder="company name" required>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="hidden" name="from_point_orign" id="from_point_orign" value="{{seat_layout_details.from_point}}" class="form-control" placeholder="plate number" required>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="hidden" name="to_point_destination" id="to_point_destination" value="{{seat_layout_details.to_point}}" class="form-control" placeholder="company name" required>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="hidden" name="dateoftravel" value="{{seat_layout_details.departure_date}}" class="form-control" placeholder="date of travel" required>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="hidden" name="timeoftravel" value="{{seat_layout_details.time_of_travel}}" class="form-control" placeholder="time of travel" required>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="hidden" name="operator" id="operator" value="{{seat_layout_details.plate_Number.company_name}}" class="form-control" placeholder="date of travel" required>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="hidden" name="arrivaltime" value="{{seat_layout_details.arrival_Time}}" class="form-control" placeholder="time of travel" required>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="hidden" name="bustype" value="{{seat_layout_details.plate_Number.bus_Type}}" class="form-control" placeholder="date of travel" required>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="hidden" name="busclass" value="{{seat_layout_details.plate_Number.bus_class}}" class="form-control" placeholder="time of travel" required>
                    </div>
                  </div>
                </div>


              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck1">
                      <label class="custom-control-label" for="customCheck1"><i class="fa fa-whatsapp" style="font-size:20px;"></i> Send booking details and updates on whatsApp number.</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row button_row">
                <div class="col-md-12">
                  <div class="form-group">
                    <button type="submit" id="button_send_passenger_data" name="button" class="btn btn-sm btn-block button_send_passenger_data" style="background:#0654a2; color:#fff; border-radius:0px">proceed to pay</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
    </div>
  </div>
</div>

  <script type="text/javascript">
    var chars = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXTZabcdefghiklmnopqrstuvwxyz";
    var string_length = 15;
    var randomstring = '';
    for (var i=0; i<string_length; i++) {
      var rnum = Math.floor(Math.random() * chars.length);
      randomstring += chars.substring(rnum,rnum+1);
    }
    // document.randform.randomfield.value = randomstring;
    document.getElementById('secrete_code').value = randomstring;
  </script>

   {% include "digital_safari/footer.html" %}
{% endblock %}
