{% extends "dashboard/base_dashboard.html" %}
{% block content %}
<div class="container w3-card-4 add_new_bus_and_routes">
  <h1>Add bus and routes</h1>
  <hr>
  <!-- {% if messages %}
    {% for message in messages %}
      <div class="w3-panel w3-display-container w3-green">
       <span onclick="this.parentElement.style.display='none'"
       class="w3-button w3-display-topright">X</span>
        <h1 {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</h1>
      </div>
    {% endfor %}
  {% endif %} -->
  <form action="" method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="form-group">
          <label for="">Plate Number *</label>
          {{busandroute.plate_Number}}
        </div>
      </div>
      <!-- <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="form-group">
          <label for="">Bus Class *</label>
          {{busandroute.bus_class}}
        </div>
      </div> -->
      <div class="col-md-3 form-group"></div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="form-group">
          <label for="">From *</label>
          {{busandroute.from_point}}
        </div>
      </div>
      <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="form-group">
          <label for="">To *</label>
          {{busandroute.to_point}}
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="form-group">
          <label for="">Date of Travel *</label>
          {{busandroute.departure_date}}
        </div>
      </div>
      <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="form-group">
          <label for="">Time of Travel *</label>
          {{busandroute.time_of_travel}}
        </div>
      </div>
      <div class="col-md-3 form-group"></div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="form-group">
          <label for="">Company Name(Operator) *</label>
          {{busandroute.company_name}}
        </div>
      </div>
      <div class="col-md-3 col-sm-12 col-xs-12">
          <div class="form-group">
            <label for="">Arrival Time *</label>
            {{busandroute.arrival_Time}}
          </div>
      </div>
      <div class="col-md-3 form-group"></div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="form-group">
          <label for="">Driver Name *</label>
          {{busandroute.driver_name}}
        </div>
      </div>
      <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="form-group">
          <label for="">Assistant(Conductor) *</label>
          {{busandroute.assistant_name}}
        </div>
      </div>
      <div class="col-md-3 form-group"></div>
    </div>
    <hr>
    <h3>Select Amenities</h3>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="">Amenity 1 *</label>
          {{busandroute.amenity1}}
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="">Amenity 2 *</label>
          {{busandroute.amenity2}}
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="">Amenity 3 *</label>
          {{busandroute.amenity3}}
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="">Amenity 4 *</label>
          {{busandroute.amenity4}}
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-3 col-sm-12 col-xs-12 form-group">
        <label for="">Fare*</label>
        {{busandroute.dail_fare}}
      </div>
      <div class="col-md-3 col-sm-12 col-xs-12 form-group">
          <button type="submit" name="button" class="btn btn-sm add_bus_button_and_routes ">add bus and routes</button>
      </div>
      <div class="col-md-3 form-group"></div>
    </div>
  </form>
</div>

{% endblock %}
