{% extends "dashboard/base_dashboard.html" %}
{% block content %}
<div class="container w3-card-4 add_customer_admn_part">
  <h1>Add new customer</h1>
  <hr>
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <form action="#" method="post">
            {% csrf_token %}
            <div class="row">
              <!--<div class="col-md-3 form-group"></div>-->
              <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                <input type="text" name="" class="form-control" value="" placeholder="First name" required="" autofocus="">
              </div>
              <div class="col-md-6 col-sm-12 col-xs-12">
                <input type="text" name="" class="form-control" value="" placeholder="Last name" required>
              </div>
              <!--<div class="col-md-3 form-group"></div>-->
            </div>
            <div class="row">
              <!--<div class="col-md-3 form-group"></div>-->
              <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                <select class="form-control custom-select" name="" required>
                  <option value="" selected hidden>From</option>
                  <option value="daressalaam">Dar es salaam</option>
                  <option value="dodoma">Dodoma</option>
                  <option value="arusha">Arusha</option>
                  <option value="mwanza">Mwanza</option>
                  <option value="mbeya">Mbeya</option>
                  <option value="kilimanjaro">Kilimanjaro</option>
                  <option value="morogoro">Morogoro</option>
                  <option value="tanga">Tanga</option>
                  <option value="kigoma">kigoma</option>
                  <option value="kahama">Kahama</option>
                  <option value="bukoba">Bukoba</option>
                  <option value="tabora">Tabora</option>
                  <option value="ruvuma">Ruvuma</option>
                </select>
              </div>
              <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                <select class="form-control custom-select" name="" required>
                  <option value="" selected hidden>To</option>
                  <option value="daressalaam">Dar es salaam</option>
                  <option value="dodoma">Dodoma</option>
                  <option value="arusha">Arusha</option>
                  <option value="mwanza">Mwanza</option>
                  <option value="mbeya">Mbeya</option>
                  <option value="kilimanjaro">Kilimanjaro</option>
                  <option value="morogoro">Morogoro</option>
                  <option value="tanga">Tanga</option>
                  <option value="kigoma">kigoma</option>
                  <option value="kahama">Kahama</option>
                  <option value="bukoba">Bukoba</option>
                  <option value="tabora">Tabora</option>
                  <option value="ruvuma">Ruvuma</option>
                </select>
              </div>
                <!--<div class="col-md-3 form-group"></div>-->
            </div>
            <div class="row">
                <!--<div class="col-md-3 form-group"></div>-->
                <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                  <input type="text" class="form-control" id="boarding_point" name="" value="" placeholder="Boarding Point" required>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                  <input type="text" class="form-control" name="" value="" placeholder="Dropping Point" required>
                </div>
                  <!--<div class="col-md-3 form-group"></div>-->
              </div>
            <div class="row">
              <!--<div class="col-md-3 form-group"></div>-->
              <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                <input type="text" class="form-control" id="departure" name="" value="" placeholder="Departure Date" required>
              </div>
              <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                <input type="text" class="form-control" name="" value="" placeholder="Phone Number" required>
              </div>
                <!--<div class="col-md-3 form-group"></div>-->
            </div>
            <div class="row">
              <!--<div class="col-md-3 form-group"></div>-->
              <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                <select class="form-control custom-select" name="" required>
                  <option value="" selected hidden>Select Bus Number</option>
                  <option value="bus1">T 881</option>
                  <option value="bus2">T 762</option>
                  <option value="bus3">T 963</option>
                  <option value="bus4">T 684</option>
                  <option value="bus5">T 355</option>
                  <option value="bus6">T 281</option>
                  <option value="bus7">T 782</option>
                  <option value="bus8">T 433</option>
                  <option value="bus9">T 644</option>
                  <option value="bus10">T 935</option>
                </select>
              </div>
              <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                <select class="form-control custom-select" name="" required>
                  <option value="" selected hidden>Select Seat</option>
                  <option value="1">A1</option>
                  <option value="2">A2</option>
                  <option value="3">A3</option>
                  <option value="4">A4</option>
                  <option value="5">A5</option>
                  <option value="6">B1</option>
                  <option value="7">B2</option>
                  <option value="8">B3</option>
                  <option value="9">B4</option>
                  <option value="10">B5</option>
                </select>
              </div>
                <!--<div class="col-md-3 form-group"></div>-->
            </div>
            <div class="row">
              <!--<div class="col-md-3 form-group"></div>-->
              <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                <select class="form-control custom-select" name="" required>
                  <option value="" selected hidden>Time of Travel</option>
                  <option value="H00">12:00 am</option>
                  <option value="H01">1:00 am</option>
                  <option value="H02">2:00 am</option>
                  <option value="H03">3:00 am</option>
                  <option value="H04">4:00 am</option>
                  <option value="H05">5:00 am</option>
                  <option value="H06">6:00 am</option>
                  <option value="H07">7:00 am</option>
                  <option value="H08">8:00 am</option>
                  <option value="H09">9:00 am</option>
                  <option value="H10">10:00 am</option>
                  <option value="H11">11:00 am</option>
                  <option value="H12">12:00 pm</option>
                  <option value="H13">1:00 pm</option>
                  <option value="H14">2:00 pm</option>
                  <option value="H15">3:00 pm</option>
                  <option value="H16">4:00 pm</option>
                  <option value="H17">5:00 pm</option>
                  <option value="H18">6:00 pm</option>
                  <option value="H19">7:00 pm</option>
                  <option value="H20">8:00 pm</option>
                  <option value="H21">9:00 pm</option>
                  <option value="H22">10:00 pm</option>
                  <option value="H23">11:00 pm</option>
                </select>
              </div>
              <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                <input type="text" class="form-control" name="" value="" placeholder="Fare" required>
              </div>
                <!--<div class="col-md-3 form-group"></div>-->
            </div>
            <div class="row">
              <!--<div class="col-md-3 form-group"></div>-->
              <div class="col-md-6 col-sm-12 col-xs-12 form-group"></div>
              <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                  <button type="submit" name="button" class="btn btn-sm add_button_customer ">add customer</button>
              </div>
                <!--<div class="col-md-3 form-group"></div>-->
            </div>
          </form>
        </div>
        <div class="col-md-3">
          {% include "dashboard/bus_seat_layout.html" %}
        </div>
        <div class="col-md-3">
          {% include "dashboard/seat_status.html" %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
