<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Digital Safari (DSafari)</title>
    <link rel="stylesheet" href="{% static 'customer/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'customer/css/w3file.css' %}">
    <link rel="stylesheet" href="{% static 'customer/css/css.css' %}">
    <link rel="stylesheet" href="{% static 'customer/fontawesome/css/font-awesome.min.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'customer/jqueryui/jquery-ui.theme.min.css' %}"> -->
    <link rel="stylesheet" href="{% static 'customer/jqueryui/jquery-ui.css' %}">
</head>
<body>
    {% if request.user.is_authenticated %}
    <div class="w3-sidebar w3-bar-block w3-collapse w3-card-4 side_navigation_dashboard" style="width:250px;" id="mySidebar">
      <button class="w3-bar-item w3-button w3-hide-large"
      onclick="w3_close()">Close &times;</button>
      <img src="/static/customer/images/img2.jpg" alt="Partner image" class="img-fluid">

        {% if status == 'Driver' %}
        <a href="{% url 'home_dashboard' %}" class="w3-bar-item w3-button"><i class="fa fa-home"></i> Home</a>
        <a href="{% url 'new_company_dashboard' %}" class="w3-bar-item w3-button"><i class="fa fa-university"></i> Register New Company</a>
        <a href="{% url 'company_list' %}" class="w3-bar-item w3-button"><i class="fa fa-list"></i> Company List</a>
        <!-- <a href="{% url 'profile_dashboard' %}" class="w3-bar-item w3-button"><i class="fa fa-user"></i> Profile</a> -->
        <a href="{% url 'report_dashboard' %}" class="w3-bar-item w3-button"><i class="fa fa-pdf"></i> report</a>
        <a href="{% url 'logout_user' %}" class="w3-bar-item w3-button"><i class="fa fa-sign-out"></i> logout</a>
        {% elif status == 'Administrator' %}
        <a href="{% url 'home_dashboard' %}" class="w3-bar-item w3-button"><i class="fa fa-home"></i> Home</a>
        <a href="{% url 'new_staff_dashboard' %}" class="w3-bar-item w3-button"><i class="fa fa-plus"></i> Add staff</a>
        <a href="{% url 'new_customer_dashboard' %}" class="w3-bar-item w3-button"><i class="fa fa-plus"></i> Issue Ticket</a>
        <a href="{% url 'register_bus_dashboard' %}" class="w3-bar-item w3-button"><i class="fa fa-bus"></i> Register New bus</a>
        <a href="{% url 'add_bus_dashboard' %}" class="w3-bar-item w3-button"><i class="fa fa-bus"></i> Add bus and Route</a>
        <a href="{% url 'staffs_list_dashboard' %}" class="w3-bar-item w3-button"><i class="fa fa-list"></i> Staffs List</a>
        <a href="{% url 'view_customer_dashboard' %}" class="w3-bar-item w3-button"><i class="fa fa-list"></i> View Passengers</a>
        <a href="{% url 'view_bus_dashboard' %}" class="w3-bar-item w3-button"><i class="fa fa-list"></i> View registered bus</a>
        <a href="{% url 'view_added_bus_dashboard' %}" class="w3-bar-item w3-button"><i class="fa fa-list"></i> View added bus and routes</a>
        <a href="{% url 'profile_dashboard' %}" class="w3-bar-item w3-button"><i class="fa fa-user"></i> Profile</a>
        <a href="{% url 'report_dashboard' %}" class="w3-bar-item w3-button"><i class="fa fa-pdf"></i> report</a>
        <a href="{% url 'logout_user' %}" class="w3-bar-item w3-button"><i class="fa fa-sign-out"></i> logout</a>
        {% elif status == 'Receptionist' %}
        <a href="{% url 'home_dashboard' %}" class="w3-bar-item w3-button"><i class="fa fa-home"></i> Home</a>
        <a href="{% url 'register_bus_dashboard' %}" class="w3-bar-item w3-button"><i class="fa fa-bus"></i> Register New bus</a>
        <a href="{% url 'add_bus_dashboard' %}" class="w3-bar-item w3-button"><i class="fa fa-bus"></i> Add bus and Route</a>
        <a href="{% url 'view_bus_dashboard' %}" class="w3-bar-item w3-button"><i class="fa fa-list"></i> View registered bus</a>
        <a href="{% url 'view_added_bus_dashboard' %}" class="w3-bar-item w3-button"><i class="fa fa-list"></i> View added bus and routes</a>
        <a href="{% url 'profile_dashboard' %}" class="w3-bar-item w3-button"><i class="fa fa-user"></i> Profile</a>
        <a href="{% url 'report_dashboard' %}" class="w3-bar-item w3-button"><i class="fa fa-pdf"></i> report</a>
        <a href="{% url 'logout_user' %}" class="w3-bar-item w3-button"><i class="fa fa-sign-out"></i> logout</a>
        {% else %}
        <a href="{% url 'home_dashboard' %}" class="w3-bar-item w3-button"><i class="fa fa-home"></i> Home</a>
        <a href="{% url 'new_customer_dashboard' %}" class="w3-bar-item w3-button"><i class="fa fa-plus"></i> Issue Ticket</a>
        <a href="{% url 'view_customer_dashboard' %}" class="w3-bar-item w3-button"><i class="fa fa-list"></i> View Passengers</a>
        <a href="{% url 'profile_dashboard' %}" class="w3-bar-item w3-button"><i class="fa fa-user"></i> Profile</a>
        <a href="{% url 'logout_user' %}" class="w3-bar-item w3-button"><i class="fa fa-sign-out"></i> logout</a>
        {% endif%}
    </div>
    <div class="w3-main" style="margin-left:250px">
      <div class="dashboard_header">
        <button class="w3-button w3-teal w3-hide-large" onclick="w3_open()">&#9776;</button>
        <div class="w3-container">
          <div class="welcome_header">
            <h1>Welcome {{user.username}} ......... Staff status: {{profile.user.staff_status}} </h1>
          </div>
          <div class="logout">
             <p><a href="{% url 'logout_user' %}" class="w3-bar-item w3-button">logout <i class="fa fa-sign-out"></i></a></p>
          </div>
        </div>
      </div>
      <div class="w3-container">
        {% block content %}{% endblock %}
        {% include "digital_safari/footer.html" %}
      </div>
    </div>
    <script>
    function w3_open() {
      document.getElementById("mySidebar").style.display = "block";
    }
    function w3_close() {
      document.getElementById("mySidebar").style.display = "none";
    }
    </script>

  <script type="text/javascript" src="{% static 'customer/js/jqueryfile.js' %}"></script>
  <script type="text/javascript" src="{% static 'customer/jqueryui/jquery-ui.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'customer/js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'customer/js/customjs.js' %}"></script>
  <script>
    autocomplete(document.getElementById("myInput"), countries);
  </script>
  {% else %}
  <div class="login-again" style="text-align:center; margin: 200px auto;">
      <center><p><a href="{% url 'login_user_dashboard' %}" style="text-decoration:none; height: 50px;padding-top:10px;font-weight:bold" class="btn btn-info btn-sm">Click here to login again</a></p></center>
  </div>
  {% endif %}
</body>
</html>
