
{% extends "dashboard/base_dashboard.html" %}
{% block content%}
<div class="view_bus_container w3-card-4">
  <div class="container">
  <h1>Details of added bus and routes</h1>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-hover table-bordered table-sm">
            <thead class="thead_dark">
              <tr>

              </tr>
            </thead>
            <tbody>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock  %}
