{% extends "dashboard/base_dashboard.html" %}
{% block content%}
  <div class="container_dash_home w3-card-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Welcome to digital safari</h1>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="number_of_bus">
            <i class="fa fa-bus"></i>
            <p>Number of Bus</p>
            <h2>{{b_info}}</h2>
          </div>
        </div>
        <div class="col-md-4">
          <div class="number_of_staff">
            <i class="fa fa-user"></i>
            <p>Number of Staffs</p>
            <h2>{{c_info}}</h2>
          </div>
        </div>
        <div class="col-md-4">
          <div class="number_of_customers">
            <i class="fa fa-group"></i>
            <p>Number of Passengers</p>
            <h2>{{p_info}}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock  %}
