{% extends "dashboard/base_dashboard.html" %}
{% block content%}
  <div class="report_page w3-card-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>All reports</h1>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <h1><span class="badge badge-primary badge-pill"><i class="fa fa-print"></i> print staffs</span></h1>
        </div>
        <div class="col-md-2">
          <h1><span class="badge badge-primary badge-pill"><i class="fa fa-print"></i> print buses</span></h1>
        </div>
        <div class="col-md-2">
          <h1><span class="badge badge-primary badge-pill"><i class="fa fa-user"></i> User Profile</span></h1>
        </div>
        <div class="col-md-2">
          <h1><span class="badge badge-primary badge-pill"><i class="fa fa-user"></i> User Profile</span></h1>
        </div>
        <div class="col-md-2">
          <h1><span class="badge badge-primary badge-pill"><i class="fa fa-user"></i> User Profile</span></h1>
        </div>
        <div class="col-md-2">
          <h1><span class="badge badge-primary badge-pill"><i class="fa fa-user"></i> User Profile</span></h1>
        </div>
      </div>
    </div>
  </div>
{% endblock  %}
