<div class="display_seat_status w3-card-4">
  <h5>
    Seat status
  </h5>
  <hr>
  <ul class="list-unstyled" style="padding:10px 20px;">
    <li>
      <button class="btn btn-default btn-sm" style="background:#ff0000; height:20px; width:20px;border-radius:100%"></button> Taken
    </li>
    <hr>
    <li>
      <button class="btn btn-default btn-sm" style="background:#bebebe; height:20px; width:20px;border-radius:100%"></button> Free
    </li>
    <hr>
    <li>
      <button class="btn btn-default btn-sm" style="background:#001f01; height:20px; width:20px;border-radius:100%"></button> Selected
    </li>
  </ul>
</div>
