
{% extends "dashboard/base_dashboard.html" %}
{% block content%}
<div class="view_bus_container w3-card-4">
  <div class="container">
  <h1>List of added bus and routes <span class="badge badge-primary badge-pill">{{count_route_info}}</span></h1>
  {% if messages %}
    {% for message in messages %}
    <div class="w3-panel w3-display-container message_cancel_ticket">
     <span onclick="this.parentElement.style.display='none'"
     class="w3-button w3-display-topright">x</span>
      <h1 {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</h1>
    </div>
    {% endfor %}
  {% endif %}
    <hr>
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-hover table-bordered table-sm">
            <thead class="thead_dark">
              <tr>
                <!-- <th scope="col">Company Name</th> -->
                <th scope="col">Plate Number</th>
                <th scope="col">Bus Class</th>
                <th scope="col">From</th>
                <th scope="col">To</th>
                <th scope="col">Date of Travel</th>
                <th scope="col">Time of Travel</th>
                <th scope="col">Arrival Time</th>
                <th scope="col">Daily Fare</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for routes in route_info %}
                <tr>
                  <!-- <td>{{routes.company_Name}}</td> -->
                  <td>{{routes.plate_Number}}</td>
                  <td>{{routes.plate_Number.bus_class}}</td>
                  <td>{{routes.from_point}}</td>
                  <td>{{routes.to_point}}</td>
                  <td>{{routes.departure_date}}</td>
                  <td>{{routes.time_of_travel}}</td>
                  <td>{{routes.arrival_Time}}</td>
                  <td>{{routes.dail_fare}}</td>
                  <td>
                    <a href="{% url 'delete_bus_route' routes.id %}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delte this bus?')"><i class="fa fa-trash"></i></a>
                    <a href="{% url 'update_bus_route' routes.id %}" class="btn btn-primary btn-sm"><i class="fa fa-pencil"></i></a>
                    <a href="{% url 'view_bus_route' routes.id %}" class="btn btn-warning btn-sm"><i class="fa fa-eye"></i></a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock  %}
