<<tr>
  <td><i class="fa fa-television" aria-hidden="true"></i></td>
  <td><i class="fa fa-times" aria-hidden="true"></i></td>
  <td><i class="fa fa-usb" aria-hidden="true"></i></td>
  <td>
    <i class="fa fa-send" aria-hidden="true"></i>
    <!-- <img src="/static/customer/images/lala.png" alt="seat" class="img-fluid" width="4%"> -->
  </td>
  <!-- <td><i class="fa fa-heart-o" aria-hidden="true"></i>&nbsp<i class="fa fa-heart-o" aria-hidden="true"></i>&nbsp<i class="fa fa-heart-o" aria-hidden="true"></i>&nbsp<i class="fa fa-heart-o" aria-hidden="true"></i>&nbsp<i class="fa fa-heart-o" aria-hidden="true"></i></td> -->
  <td></td>
  <td><a href="{% url 'seatlayout' bus_routes.id %}" class="w3-btn btn-sm">view seats</a></td>
</tr>
