<tr>
  <td><i class="fa fa-television" aria-hidden="true"></i></td>
  <td><i class="fa fa-wifi" aria-hidden="true"></i></td>
  <td><i class="fa fa-usb" aria-hidden="true"></i></td>
  <td><i class="fa fa-times" aria-hidden="true"></i></td>
  <!-- <td><i class="fa fa-heart-o" aria-hidden="true"></i>&nbsp<i class="fa fa-heart-o" aria-hidden="true"></i>&nbsp<i class="fa fa-heart-o" aria-hidden="true"></i>&nbsp<i class="fa fa-heart-o" aria-hidden="true"></i>&nbsp<i class="fa fa-heart-o" aria-hidden="true"></i></td> -->
  <td></td>
  <td><a href="{% url 'seatlayout' bus_routes.id %}" class="w3-btn btn-sm">view seats</a></td>
</tr>
