<div class="row amenities_row">
  <!-- <div class="amenities_container"> -->
    <div class="col-md-2">
      <i class="fa fa-wifi" aria-hidden="true"></i>
    </div>
    <div class="col-md-2">
      <i class="fa fa-times" aria-hidden="true"></i>
    </div>
    <div class="col-md-2">
      <i class="fa fa-times" aria-hidden="true"></i>
    </div>
    <div class="col-md-2">
      <i class="fa fa-times" aria-hidden="true"></i>
    </div>
    <div class="col-md-2">
      <p><strong>Class: {{r.plate_Number.bus_class}}</strong></p>
    </div>
    <div class="col-md-2">
      <a href="{% url 'seatlayout' r.id %}" class="w3-btn btn-sm">view seats</a>
    </div>
  <!-- </div> -->
</div>
